/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
html, body { height: 100%; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* ===== Primary Styles ========================================================
   Author: Sebastiaan Deckers
   ========================================================================== */

/* Fonts */
@font-face {
	font-family: Diavlo;
	src: url("../fonts/Diavlo_II_37/Diavlo_BOLD_II_37.otf") format("opentype");
	font-weight: bold;
}
@font-face {
	font-family: Diavlo;
	src: url("../fonts/Diavlo_II_37/Diavlo_MEDIUM_II_37.otf") format("opentype");
	font-weight: normal;
}
@font-face {
	font-family: Diavlo;
	src: url("../fonts/Diavlo_II_37/Diavlo_LIGHT_II_37.otf") format("opentype");
	font-weight: 100;
}
body {
	font-family: "Trebuchet MS";
}
h1, h2, h3, h4, h5, h6 {
	font-family: Diavlo;
	font-weight: bold;
}

/* Menu */
body > header {
	background: url(../img/menu-base.png) repeat-x center bottom;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
	body > header > .masthead {
		margin: 0 auto;
		text-align: left;
		width: 960px;
	}
	body > header > .masthead > h1 {
		display: inline-block;
		font-size: 1em;
		margin: 0;
		vertical-align: top;
	}
	body > header > .masthead > h1 > a {
		background: no-repeat url(../img/header-logo.png);
		height: 38px;
		display: inline-block;
		margin: 10px 0 0 10px;
		width: 191px;
		/* Malarkey Image Replacement */
		letter-spacing: normal;
		text-indent: -9999px;
		overflow: hidden;
	}
	body > header > .masthead > nav {
		display: inline-block;
		float: right;
	}
	body > header > .masthead > nav > ul {
		height: 73px;
	}
	body > header > .masthead > nav > ul > li {
		display: inline;
	}
	body > header > .masthead > nav > ul > li > a:visited,
	body > header > .masthead> nav > ul > li > a {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		color: #454545;
		display: inline-block;
		height: 67px;
		font-family: Diavlo;
		font-weight: 100;
		padding: 1em 1.5em 2.5em 1.5em;
		text-decoration: none;
	}
	body > header > .masthead > nav > ul > li > a:hover,
	body > header > .masthead > nav > ul > li.active > a {
		color: #a70c00;
	}
	body > header > .masthead > nav > ul > li.active > a {
		background: url(../img/menu-arrow.png) no-repeat center bottom;
	}

/* Content */
body > div {
	background: url(../img/firm-motif.png) no-repeat right bottom;
	margin-top: 57px;
	min-height: 100%;
}
body > div > section {
	clear: both;
}

/* Banner */
#banner {
	background:
		url(../img/bg-batik-full.jpg) repeat-x bottom center #860900;
	background:
		url(../img/bg-gradient.png) no-repeat center center,
		url(../img/bg-batik-full.jpg) repeat-x bottom center #860900;
	width: 100%;
}
	#banner > article {
		margin: 0 auto;
		width: 960px;
	}
	#banner > article > header {
		color: #fff;
		padding: 30px 20px 20px 580px;
	}
	#banner > article > header > h2 {
		font-size: 1.5em;
	}
	#banner > article > header > p {
		font-family: Diavlo;
		font-size: 1.5em;
		font-weight: 100;
	}

/* Firm */
#firm {
	color: #676767;
	margin: 0 auto;
	min-height: 500px;
	width: 960px;
}
	#firm > article {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		padding: 0 20px 0 10px;
		width: 62%;
	}
		#firm > article > h2 {
			font-size: 2em;
			margin: 0.5em 0;
		}
		#firm > article > p {
			font-size: 0.75em;
		}
		#firm > article > ul {
			list-style-image: url(../img/firm-bullet.png);
		}
			#firm > article > ul > li {
				font-size: 0.75em;
				font-weight: bold;
				margin: 0.5em 0;
				padding: 0 0 0 0.25em;
			}
	#firm > aside {
		background: url(../img/firm-divider.png) no-repeat top left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		float: right;
		min-height: 500px;
		padding: 0 10px 0 20px;
		width: 38%;
	}
		#firm > aside > h2 {
			font-size: 2em;
			margin: 0.5em 0;
		}
		#firm > aside > ul {
			list-style-image: url(../img/practices-bullet.png);
			padding: 0 0 0 15px;
		}
			#firm > aside > ul > li {
			}
				#firm > aside > ul > li > h3 {
					font-family: "Trebuchet MS";
					font-size: 0.75em;
					margin: 1em 0 0 0;
				}
					#firm > aside > ul > li > h3 > a {
						color: #a40a00;
						text-decoration: none;
					}
				#firm > aside > ul > li > .snippet > p {
					color: #868686;
					font-size: 0.75em;
					font-style: italic;
					text-align: justify;
				}
				#firm > aside > ul > li > .snippet > p:first-of-type {
					margin: 0;
				}

/* Consultants */
#consultants {
	background: #fff;
}
	#consultants > section {
		background:
			url(../img/consultants-motif.png) no-repeat bottom right,
			url(../img/consultants-border.png) repeat-x bottom center;
		color: #676767;
		min-height: 600px;
		padding: 2em 0 4em 0;
	}
	#consultants > section > header {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		position: relative;
		width: 900px;
	}
		#consultants > section > header > .overview {
		}
		#consultants > section > header > .overview .given {
			display: block;
		}
	#consultants > section > ul {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		min-height: 250px;
		position: relative;
		width: 900px;
	}
	#consultants > section > ul > li {
		left: 0;
		list-style-type: none;
		position: absolute;
		top: 0;
		visibility: hidden;
		opacity: 0;
		-moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		-o-transition: all .4s ease-in-out;
		-webkit-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
		width: 100%;
	}
	#consultants > section > ul > li.active {
		visibility: visible;
		opacity: 1;
	}
	#consultants h2 {
		font-size: 2em;
	}
	#consultants h3 {
		display: none;
	}
	#consultants figure {
		float: left;
	}
	#consultants figure > img {
		height: 205px;
		margin: 100px 0 0 0;
		width: 205px;
	}
	#consultants p {
		font-size: 0.75em;
		margin-left: 220px;
	}
	#consultants .vcard {
		font-size: 0.75em;
		margin: 1em 0 0 220px;
		min-height: 38px;
		padding: 10px 0 0 60px;
		position: relative;
	}
	#consultants .vcard .fn {
		background: url(../img/consultants-linkedin.png) no-repeat top left;
		display: inline-block;
		height: 48px;
		left: 0;
		position: absolute;
		top: 0;
		width: 48px;
		/* Malarkey Image Replacement */
		letter-spacing: normal;
		text-indent: -9999px;
		overflow: hidden;
	}
	#consultants .vcard a {
		color: #b74c4c;
		text-decoration: none;
	}
	#consultants .overview {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}
		#consultants .overview > li {
			display: inline-block;
			font-family: Diavlo;
			font-size: 0.85em;
			text-align: center;
			width: 150px;
		}
		#consultants .overview > li > a {
			color: #676767;
			display: inline-block;
			height: 100%;
			text-decoration: none;
			vertical-align: top;
			width: 100%;
		}
		#consultants .overview > li img {
			height: 135px;
			width: 135px;
		}
		#consultants .overview > li .name {
			font-weight: bold;
			display: block;
			padding: 0 15px;
		}
		#consultants .overview > li .role {
			display: block;
			font-weight: 100;
			padding: 0 15px;
		}
	#consultants > section > .controls {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		position: relative;
		width: 960px;
	}
		#consultants > section > .controls > a {
			background: url(../img/consultants-arrow.png) no-repeat right center;
			height: 24px;
			padding: 10px;
			position: absolute;
			top: -50px;
			width: 24px;
			/* Malarkey Image Replacement */
			letter-spacing: normal;
			text-indent: -9999px;
			overflow: hidden;
		}
		#consultants > section > .controls > a:hover {
			margin-top: -1px;
		}
		#consultants > section > .controls > a:active {
			margin-top: 1px;
		}
		#consultants > section > .controls > .previous {
			left: 0;
			padding-left: 0;
			-moz-transform: scale(-1, 1);
			-ms-transform: scale(-1, 1);
			-o-transform: scale(-1, 1);
			-webkit-transform: scale(-1, 1);
			transform: scale(-1, 1);
		}
		#consultants > section > .controls > .next {
			padding-right: 0;
			right: 0;
		}

/* Contact */
#contact {
	background:
		url(../img/contact-motif.png) repeat-y right top,
		url(../img/contact-texture.png) repeat top center #3e3e3e;
	color: #fff;
}
	#contact > section {
		min-height: 500px;
		padding: 2em 0 4em 0;
	}
	#contact > section > article {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		overflow: hidden;
		padding: 0 10px 0 10px;
		width: 960px;
	}
	#contact > section > article > h2 {
		font-size: 2em;
		margin-bottom: 0;
	}
	#contact > section > article > figure {
		float: left;
		margin: 0 10px 0 0;
		text-align: center;
	}
		#contact > section > article > figure > img {
			height: 415px;
			width: 510px;
		}
		#contact > section > article > figure > figcaption > a {
			background-color: rgba(255, 255, 255, 0.2);
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			border-radius: 16px;
			color: #f9f9f9;
			display: inline-block;
			height: 32px;
			font-family: Diavlo;
			font-weight: bold;
			font-size: 0.85em;
			margin: 0 0 1px 0;
			padding: 6px 12px;
			text-decoration: none;
		}
		#contact > section > article > figure > figcaption > a:hover {
			text-decoration: underline;
		}
		#contact > section > article > figure > figcaption > a:active {
			margin: 1px 0 0 0;
		}
	#contact > section > article > .directions {
		float: left;
		margin: 0 33px 0 0;
		width: 240px;
	}
		#contact > section > article > .directions > h3 {
			background-color: rgba(172, 0, 0, 0.8);
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			border-radius: 9px 9px 0 0;
			font-family: "Trebuchet MS";
			font-size: 0.75em;
			height: 41px;
			margin: 0;
			padding: 13px 0 0 0;
			text-align: center;
		}
		#contact > section > article > .directions > .instructions {
			background-color: rgba(255, 255, 255, 0.2);
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			border-radius: 0 0 7px 7px / 0 0 8px 8px;
			color: #1c1c1c;
			font-family: "Trebuchet MS";
			font-size: 0.75em;
			margin: 3px 0 0 0;
			min-height: 400px;
			padding: 13px;
		}
			#contact > section > article > .directions > .instructions > p:first-of-type {
				margin-top: 0;
			}
			#contact > section > article > .directions > .instructions > p:last-of-type {
				margin-bottom: 0;
			}
			#contact > section > article > .directions > .instructions .place {
				font-weight: bold;
			}
			#contact > section > article > .directions > .instructions .eta {
				font-style: italic;
			}
			#contact > section > article > .directions > .instructions ol {
				color: #f9f9f9;
				list-style-position: inside;
				padding: 0;
			}
			#contact > section > article > .directions > .instructions li {
				clear: both;
			}
			#contact > section > article > .directions > .instructions .distance {
				color: #080808;
				float: right;
			}
			#contact > section > article > .directions > .instructions .note {
				display: block;
				font-style: italic;
				padding-left: 1.5em;
			}
			#contact > section > article > .directions > .instructions ol ~ p {
				font-size: 0.9em;
			}
	#contact > section > article > .vcard {
		font-size: 0.75em;
		font-weight: normal;
		margin: 1em 0 0 0;
	}
		#contact > section > article > .vcard .fn {
			font-weight: bold;
			margin: 0 0 1em 0;
		}
		#contact > section > article > .vcard > div:last-child {
			margin: 1em 0;
		}
	#contact a.button {
		background: url(../img/contact-button.png) no-repeat;
		background-position: -14px -62px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		color: #fff;
		display: inline-block;
		font-family: Diavlo;
		font-weight: normal;
		font-size: 0.85em;
		height: 38px;
		margin: 0 0 1px 0;
		padding: 8px 0;
		text-align: center;
		text-decoration: none;
		width: 146px;
	}
		#contact a.button:hover {
			background-position: -14px -13px;
		}
		#contact a.button:active {
			margin: 1px 0 0 0;
		}
	#contact .linkedin {
		background: url(../img/contact-linkedin.png) no-repeat bottom right;
		color: #fff;
		display: inline-block;
		float: right;
		font-size: 0.7em;
		font-style: italic;
		font-weight: normal;
		margin: 0 0 0 0;
		padding: 100px 0 0 0;
		position: relative;
		text-decoration: none;
		width: 145px;
	}
		#contact .linkedin:hover {
			text-decoration: underline;
		}
		#contact .linkedin:after {
			content: " \00bb";
			font-size: 1.25em;
			right: -10px;
			top: 13px;
		}

/* Footer */
body > footer {
	background-color: #6b6b6b;
	bottom: 0;
	color: #fff;
	height: 37px;
	position: fixed;
	width: 100%;
}
	body > footer > section {
		margin: 0 auto;
		width: 960px;
	}
	body > footer > section p {
		font-size: 0.75em;
		line-height: 37px;
		margin: 0;
	}
	body > footer > section > .call {
		float: left;
	}
	body > footer > section > .copyright {
		float: right;
	}

/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
